<fieldset class="border p-2">
	<legend class="w-auto">Business address details of licensee</legend>


	<div class="col-md-12 d-flex">
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Address line">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder=" Village">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="City / Town">
			</div>
		</div>

	</div>
	<div class="col-md-12 d-flex">
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="District ">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="State">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Pin Code">
			</div>
		</div>

	</div>

</fieldset>