<fieldset class="border p-2">
	<legend class="w-auto">Basic Details</legend>
	<div class="col-md-12 d-flex">
		<div class="col-md-4">
			<div class="form-group">
				<label>Applicant Name :</label>
				<input class="form-control" type="text" placeholder="Applicant Name">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Father Name :</label>
				<!-- <input class="form-control" type="" placeholder="Address"> -->
				<input class="form-control" type="text" placeholder="Father Name">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>D.O.B :</label>
				<input class="form-control" type="date" placeholder="D.O.B">
			</div>
		</div>

	</div>

	<div class="col-md-12 d-flex">
		<div class="col-md-4">
			<div class="form-group">
				<label>E-Mail id :</label>
				<input class="form-control" type="text" placeholder="E-Mail id">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Mobile Number :</label>
				<input class="form-control" type="text" placeholder="Mobile">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Pan Number :</label>
				<input class="form-control" type="text" placeholder="Pan Number">
			</div>
		</div>

	</div>
	<div class="col-md-12 d-flex">
		<div class="col-md-4">
			<div class="form-group">
				<label>Aadhaar Number :</label>
				<input class="form-control" type="text" placeholder="Aadhaar Number">
			</div>
		</div>
		<div class="col-md-8">
			<div class="form-group">
				<label>Address :</label>
				<input class="form-control" type="text" placeholder="Address">
			</div>
		</div>


	</div>

</fieldset>